[package]
name = "shenron"
version = "0.1.0"
edition = "2024"

[lints.rust]
unsafe_code = "forbid"

[lints.clippy]
enum_glob_use = "warn"
pedantic = "warn"
nursery = "warn"
unwrap_used = "warn"

[dependencies]
async-trait = "0.1.89"
bon = "3.8.1"
russh = { version = "0.54.6", features = ["aws-lc-rs"] }
thiserror = "2.0.17"
tokio = { version = "1.48.0", features = ["full"] }
